@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Book.woff") format("woff"), url("../fonts/CircularStd-Book.ttf") format("truetype"), url("../fonts/CircularStd-Book.svg#CircularStd") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Bold.woff") format("woff"), url("../fonts/CircularStd-Bold.ttf") format("truetype"), url("../fonts/CircularStd-Bold.svg#CircularStd") format("svg");
  font-weight: 700;
  font-style: normal; }
:root{
   --hover-color: #f18764;
}
* {
  box-sizing: border-box;
}
body, html{
  font-family: CircularStd, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  font-size: 100%;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1, h2, h3, h4, h5, h6, figure, p{ margin: 0; }

a{ color: #303030; }

header{ height: 4em;
  border-bottom: 1px solid black;
}

header nav{
  display: flex;
  max-width: 80em;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 1.25rem;
  z-index: 2;
}

nav h1{
  font-size: 1rem;
  text-indent: -9999em;
  display: block;
  width: 12.5em;
  height: 3.125em;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}

nav ul{
  display: flex;
  height: 65px;
  align-items: center;
}

nav ul li ul{
  display: block;
  position: absolute;
} /* disabled second nav */
nav ul li ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  left: 50%;
  width: 100vw;
  max-width: 1280px;
  transform: translateX(-50%);
  grid-gap: 20px;
  padding: 0px 20px;
  top: 65px;
  height: 0px;
  overflow: hidden;
  transition: .3s ease-in-out;
  z-index: 3;
}
nav ul li:hover ul, nav ul li:focus-within ul{
  height: 250px;
}

nav ul li a:first-child:nth-last-child(2){
  position: static;
}
nav ul li a:first-child:nth-last-child(2):after{
  content: '';
  width: 100vw;
  background: linear-gradient(white, #ECECEC);
  z-index: 0;
  height: 0px;
  z-index: 2;
  position: absolute;
  left: 0;
  top: calc(4em + 1px);
  max-width: 100%;
  transition: .3s ease-in-out;
}
nav ul li:focus-within a:first-child:nth-last-child(2):after, nav ul li:hover a:first-child:nth-last-child(2):after{
  height: 250px;
  border-bottom: 1px solid black;
}

nav ul li ul li {
  background: #FFF;
  height: 200px;
  position: relative;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7)), url("../img/350x150.png");
  background-size: cover;
  display: inline-block;
  background-position: center;
  padding: 0px 1.25em 1.25em;
}

nav ul li ul li a {
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: auto;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: .3s ease-in-out;
  color: #FFF;
  line-height: 2;
}
nav ul li ul li a:before{
  top: 100%;
}

nav ul li a:before {
  content: none;
}
nav ul li a{
  box-shadow: inset 0 0px 0 white, inset 0px 0px 0 var(--hover-color);
}
nav ul li a:hover, nav ul li a:focus{
  box-shadow: inset 0 0px 0 white, inset 0px -5px 0 var(--hover-color);
}
nav ul li a[aria-label*="current"]{
  box-shadow: inset 0 0px 0 white, inset 0px -5px 0 #663399  ;
}
nav ul li:focus-within a[aria-label*="current"], nav ul li:hover a[aria-label*="current page"]{
  border-bottom: 5px solid var(--hover-color);
}
nav ul li{
  text-decoration: none;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1.25em;
}

nav ul li:last-of-type{
  padding-right: 0;
}

nav ul li a{
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  outline: none;
}
nav ul li ul li[title="rock"] {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7)), url("../img/rock.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
nav ul li ul li[title="paper"] {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7)), url("../img/paper.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
nav ul li ul li[title="scissor"] {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7)), url("../img/scissor.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px 1.25em 1.25em;
}
a{
  position: relative;
  transition: .3s ease-in-out;
}
a:before{
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  background-color: var(--hover-color);
  height: 2px;
  z-index: 1;
  transition: .3s ease-in-out;
}
a:focus:before, a:hover:before{
  width: 100%;
}

section{
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 80em;
  padding: 0px 1.25em;
  margin: 0 auto;
}
section:first-of-type{
  margin-top: 2.5em;
}


section footer fieldset div > input:checked ~ label,
section footer fieldset div:not(:checked) > label:hover,
section footer fieldset div:not(:checked) > label:hover ~ label {
  background: red;
}
section footer fieldset div > input:checked + label:hover,
section footer fieldset div > input:checked ~ label:hover,
section footer fieldset div > label:hover ~ input:checked ~ label,
section footer fieldset div > input:checked ~ label:hover ~ label {
  background: red;
}
  section footer fieldset div{
    display: flex;
    flex-direction: row-reverse;
  }
input{
  direction: rtl; /* Wow this one is epic */
}
section article > h1{
  border-left: 5px solid var(--hover-color);
  display: inline-block;
  font-size: 2.25rem;
  line-height: 1;
  padding-left: 10px;
  color: #343434;
}
section article figure{
  display: flex;
  margin-top: 2em;
  position: relative;
}
section article figure img{
  width: 60%;
  height: 100%;
}
section article figure figcaption{
  padding: 0 0 0 25px;
  font-size: 1rem;
  letter-spacing: .5px;
  line-height: 1.5;
}
section article figure figcaption h2{
  font-size: 1.75rem;
  padding: 0 0 15px;
  line-height: 1;
}
section article figure figcaption p{
  padding: 0 0 10px;
}
section article figure figcaption a{
  text-decoration: none;
  font-weight: bold;
}
figcaption a:focus{
  outline: none;
}
p + p{ padding: 10px 0;}

figure:before{
  content: '';
  display: block;
  width: 60%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: rgba(0,0,0, 0);
  transition: .3s ease-in-out;
}
figure:after{
  content: 'Klik op enter om naar de website van de auteur te gaan';
  display: flex;
  width: 60%;
  height: 100%;
  position: absolute;
  z-index: 1;
  align-items: center;
  justify-content: center;
  transition: .3s ease-in-out;
  color: white;
  font-size: 1.3rem;
  line-height: 1;
  letter-spacing: 0;
  opacity: 0;
}

figure:focus-within:before{
  background: rgba(0,0,0,.5);
}
figure:focus-within:after{
  opacity: 1;
}
